{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
ReleCloud - Request information
{% endblock title %}
<script type="text/javascript">
        function sendEmail() {
          // Replace 'recipient@example.com' with the actual email address
          var recipientEmail = 'recipient@example.com';
    
          // Replace 'Subject' with the desired email subject
          var subject = 'Subject';
    
          // Replace 'Body' with the desired email body
          var body = 'Body';
    
          // Construct the mailto link
          var mailtoLink = 'mailto:' + recipientEmail + '?subject=' + encodeURIComponent(subject) + '&body=' + encodeURIComponent(body);
    
          // Open the default email client with the mailto link
          window.location.href = mailtoLink;
        }
</script>

{% block content %}
<h1>Request information</h1>
<h2>Fillout the form below to request information about our cruises</h2>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="primary-button" type="submit" onclick="sendEmail()">Send Email</button>
</form>

{% endblock content %}