{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
ReleCloud - Request information
{% endblock title %}
<script type="text/javascript">

</script>

{% block content %}
<h1>Request information</h1>
<h2>Fillout the form below to request information about our cruises</h2>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary"><a href="mailto:correo@ejemplo.com?subject=Asunto del correo&body=Cuerpo del mensaje"></a>Enviar correo</button>
</form>

{% endblock content %}